@font-face {
    font-family: font-light;
    src: url('../assets/fonts/Moderat-Light.ttf');
}

@font-face {
    font-family: font-bold;
    src: url('../assets/fonts/Moderat-Black.ttf');
}

@font-face {
    font-family: font-medium;
    src: url('../assets/fonts/Moderat-Medium.ttf');
}

@font-face {
    font-family: font-regular;
    src: url('../assets/fonts/Moderat-Regular.ttf');
}

@font-face {
    font-family: font-condensed-black;
    src: url('../assets/fonts/Moderat-Condensed-Black.ttf');
}

.font-bold {
    font-family: font-bold !important;
}

.font-light {
    font-family: font-light !important;
}

html, body { 
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body { 
    margin: 0;
    overflow-x:hidden;
}

a, p, h1, h2, h3, h4, h5, h6, span, input, label, button, li, th, td {
    font-family: font-medium !important;
}

.pointer {
    cursor: pointer;
}

.card {
    box-shadow: 0px 1px 16px rgba(27, 39, 51, 0.08) !important;
    border: none !important;
}

*::-webkit-scrollbar {
	width: 8px;
    /* height: 0px;  */
}

*::-webkit-scrollbar-thumb {
	background-color: #E5E5E5;
}

/* SIDEBAR STYLE */

.main-content {
    display: flex;
    width: 100%;
}

.sidenav-link:hover {
    text-decoration: none;
}

.sidenav-link {
    text-decoration: none;
}

.sidenav-text {
    font-family: font-light !important;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    text-align: right;
    color: #9A97AA;
    margin-right: 3rem;
}

.logo-section {
    z-index: 1; 
    background-color: white; 
    padding-top: 20px; 
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.sidenav {
    min-width: 20%;
    max-width: 20%;
    height: 100vh;
    position: fixed;
    background-color: white;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: content-box;
    overflow-y: auto;
    padding: 0px 20px 20px 20px;
}

img.top-pattern {
    position: absolute;
    top: 0.2rem;
    right: 0.1rem;
}

.page {
    width: 100%;
    margin-left: 20%;
}

.page-content {
    overflow-y: auto;
    min-height: auto;
    background-color: #FFFFFF;
    padding: 3rem;
}

.main-nav {
    background: #ffffff;
    /* width: 100%; */
    box-shadow: 0px 1px 16px rgba(27, 39, 51, 0.08);
}

.name-text {
    font-style: normal;
    font-size: 0.87rem;
    line-height: 19px;
    color: #000000;
}

.flex-container {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.sidenav-menu {
    margin-top: 20px !important;
    padding-left: 0px;
}

.sidenav-menu-item {
    padding: 15px !important;
    list-style-type: none;

}

.sidenav-menu-item:hover .icon-main {
    display: none !important;
}

.sidenav-menu-item.active .icon-main {
    display: none !important;
}

.sidenav-menu-item .icon-hover {
    display: none !important;
}

.sidenav-menu-item.active .icon-hover {
    display: inline-block !important;
}

.sidenav-menu-item:hover .icon-hover {
    display: inline-block !important;
}

.sidenav-menu-item:hover {
    background: #F8F7FF;
    border-radius: 25px;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

.sidenav-menu-item.active {
    background: #F8F7FF;
    border-radius: 25px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.sidenav-menu-item:hover a span, .sidenav-menu-item.active a span {
    font-weight: bold !important;
    color: black !important;
}

.sidenav-menu-item:hover a .sidebar-icon, .sidenav-menu-item.active a .sidebar-icon {
    fill: #FFFFFF !important;
}

/* SIDEBARSTYLE ENDS */

.color-grey {
    color: #A5A2B8;   
}

.color-deep-grey {
    color: #8C8C8C;
}

.color-black {
    color: #282828;
}

.color-pink {
    color: #E3507A;
}

.color-red {
    color: #E9001C;
}

.color-green {
    color: #2BB596;
}

.color-white {
    color: #fff;
}

.color-purple {
    color: #9381FF;
}

.light-black {
    color: #4C4C66;
}

.color-purple-light {
    color: #A69ED6;
}

.color-yellow {
    color: #F7931A;
}

.color-purple-deep {
    color: #4612A3;
}

.purple-card {
    /* background-color: #8568C6; */
    background-image: linear-gradient(to bottom right, #A088D2, #8568C6);
    padding: 15px 21px;
    border-radius: 10px;
    /* width: 30% !important; */
    margin: 5px 5px 5px 0px;
}


.purple-card-fiat {
    /* background-color: #8568C6; */
    background-image: linear-gradient(to bottom right, #A088D2, #8568C6);
    padding: 15px 21px;
    border-radius: 10px;
    /* width: 30% !important; */
}

.ad-card {
    background-color: #F8F7FF;
    padding: 15px 21px;
    border-radius: 10px;
}
  
.horizontal-scroll {
    /* margin: 4px, 4px;
    padding: 4px;
    width: auto !important;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    white-space: nowrap; 
    display: flex;*/
}
.horizontal-scroll > .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.horizontal-scroll > .row > .col-lg-4 {
    flex: 0 0 auto;
}



::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}

.grey-card-2 {
    border: 1px solid #9381FF;
    background: #F8F7FF;
    padding: 10px;
    border-radius: 5px;
    width: 33.3% !important;
    height: 150px;
    margin: 5px;
}

.grey-card {
    border: 1px solid #9381FF;
    background: #F8F7FF;
    padding: 15px 21px;
    border-radius: 10px;
    /* width: 30% !important; */
   margin: 5px;
}

table {
    width: 100%;
    color: white !important;
    background-color: #8568C6;
    border-radius: 5px;
}


thead {
    border-bottom: 1px solid white;
}

.first-item-txt {
    margin-left: 1rem;
}

.row-div {
    margin-right: 0.25rem !important;
}

.right-section {
    background-color: #F8F7FF;
    border-radius: 10px;
}

.bottom-right-ads-section {
    background-color: #F8F7FF;
    border-radius: 10px;
    height: 200px;
    margin-top: 2rem;
    text-align: center;
}



.dash-btn-setion {
    background-color: white;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #F0F1F3;
    padding: 5px;
    display: flex;
}

.recieve-btn {
    color: black;
    cursor: pointer;
    text-align: center;
    width: 50%;
    padding: 5px;
}

.send-btn {
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #8568C6;
    border-radius: 5px;
    width: 50%;
    padding: 5px;
}

.select-item {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #E3E3E3;
    background-color: #F8F7FF;
    outline: none;
}

.copy-btn:focus {
    outline: none;
}

.copy-btn {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background: #28BC00;
    border: none;
    outline: none;
    border-radius: 5px;
}

.each-section-input {
    width: 50%; 
    margin: auto;
}

.input-field-2 {
    padding: 5px;
    height: 40px;
    width: 100% !important;
    color: black;
    border-radius: 5px;
    border: 2px solid #E3E3E3;
    background-color: #F8F7FF;
    outline: none;
}

.input-field {
    padding: 10px;
    width: 100% !important;
    color: black;
    border-radius: 5px;
    border: 1px solid #E3E3E3;
    background-color: #F8F7FF;
    outline: none;
}

.contact-input-field {
    padding: 10px;
    width: 100% !important;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    outline: none;
}

.customer-input-field {
    padding: 10px;
    width: 100% !important;
    color: black;
    border-radius: 5px;
    border: 2px solid #8568C6;
    background-color: white;
    outline: none;
}

.ppl-cl {
    color: #352E5B;
}

.transfer-btn-trans {
    margin-top: 1rem;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid  #8568C6;
    outline: none !important;
    color:  #8568C6;
    background-color: white
}

.transfer-btn-small {
    width: auto;
    border-radius: 5px;
    border: none;
    outline: none !important;
    color: white;
    background-color: #8568C6;
}

.transfer-btn-white {
    margin-top: 1rem;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #8568C6;
    outline: none !important;
    color: #8568C6;
    background-color: white;
}

.transfer-btn {
    margin-top: 1rem;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none !important;
    color: white;
    background-color: #8568C6;
}

.transfer-btn-white:focus {
    outline: none;
}

.transfer-btn:focus {
    outline: none;
}

.transfer-btn-trans:focus {
    outline: none;
}

.botton-left-left-section {
    background-color: #F8F7FF;
    border-radius: 10px;
}

.botton-left-right-section {
    background-color: #F8F7FF;
    border-radius: 10px;
    padding-left: 10px;
}

.right-sect-inner {
    padding-right: 0px !important;
}

.ppl-cl {
    font-size: 20px;
}

.sm-ppl {
    font-size: 16px;
}

.bottom-value {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

}

.display-flex {
    display: flex;
}

.green-recieve {
    background-color: #28BC00;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 2px 10px 2px 10px;
}

.green-recieve:focus {
    outline: none !important;
}

.yel-send {
    background-color: #FFC325;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 2px 10px 2px 10px;
}

.yel-send:focus {
    outline: none !important;
}

.date-input {
    height: 30px;
    outline: none;
    border: none;
    background-color: #F8F7FF;
    border-radius: 5px;
}

.date-input:active {
    outline: none;
}

.position-rel {
    position: relative;
}

.date-section {
    height: 20px;
    bottom: 25px; 
    position: absolute; 
    right: 0px;
}

.each-radio {
    padding: 10px;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
}

.nav-item {
    width: 50%;
    text-align: center;
}

.nav-item-3 {
    width: 50%;
    text-align: center; 
}

.nav-item-2 {
    width: 25%;
    text-align: center; 
}

.nav-link.active {
    background-color: #F8F7FF !important;
    border-top: 2px solid #4612A3 !important;
    color: #4612A3 !important;
}

#send-tab {
    border-top-right-radius: 0px !important;
}

#recieve-tab {
    border-top-left-radius: 0px !important;
}

.nav-link {
    background-color: #EAEAEE;
    color: #4612A3 !important;
    border: none !important;
}

.nav-link-2 {
    /* background-color: #A5A2B8; */
    color: #A5A2B8 !important;
    border: none !important;
    margin-bottom: 10px !important;
    text-decoration: none !important;
    padding-bottom: 10px;
}

.nav-link-2.active {
    /* background-color: #F8F7FF !important; */
    border-bottom: 2px solid #4612A3 !important;
    color: #4612A3 !important;
    /* border-bottom-width: 100px !important; */
}

.tab-content {
    background-color: #F8F7FF;
    padding: 2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.left-send-inner-2 {
    margin-left: 3rem;
}

.buy-now-btn:hover {
    color: white;
    text-decoration: none;
}

.buy-now-btn {
    color: white;
    background-color: #8568C6;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    cursor: pointer;
}

.each-refill-item {
    text-align: center;
    background-color: #F8F7FF;
    border-radius: 5px;
    width: 25%;
    height: 240px;
    padding: 1rem;
}

.network {
    border: 1px solid #E3E3E3;
    padding: 5px 20px 5px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.text-underline {
    border-bottom: 1px solid #4612A3;
}

.bk-btn:hover {
    text-decoration: none;
    color: black !important;
}

.bk-btn {
    color: black;
    text-decoration: none;
}

.contact-left {
    padding: 3rem !important;
}

.contact-right {
    background-color: white;
    padding: 3rem !important;
    box-shadow: 0px 1px 10px rgba(27, 39, 51, 0.08);
    border-radius: 5px;
}

.user-main-content {
    background-color: #F8F7FF;
    padding: 2rem;
}

.no-pl-4 {
    padding-left: 2rem;
}

.tab-set {
    border: none !important;
}

#th{
    font-family: font-light !important;
}

::-webkit-input-placeholder {
    font-size: 13px;
    font-family: "font-light" !important;
    color: #8692A6;
}
::-moz-placeholder {
    font-size: 13x;
    font-family: "font-light" !important;
    color: #8692A6;
   
}
::-ms-input-placeholder {
    font-size: 13px;
    font-family: "font-light" !important;
    color: #8692A6;
}

.set-tab-content {
    border-top: 2px solid #dee2e6;
    margin-top: 10px;
    padding: 2rem 0px 0px 0px;
}

.check-bvn {
    margin-bottom: 0px;
}

.verify-col {
    margin-top: 6rem;
}


/* TOGGLE BUTTON ON SETTINGS PAGE STYLE */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #8568C6;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #8568C6;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* TOGGLE BUTTON ON SETTINGS END HERE */



.nav-toper {
    background-color: #fff !important;
    border: 1px solid #dee2e6;
    padding: 5px 5px !important;
    border-radius: 5px;
}

.nav-toper-item-btn {
    color: black;
    cursor: pointer;
    text-align: center;
    width: 100%;
    background-color: white;
    padding: 5px;
}

.nav-toper-item-btn.active {
    color: white !important;
    text-align: center;
    cursor: pointer;
    background-color: #8568C6 !important;
    width: 100%;
    padding: 5px;
    border: none !important;
   border-radius: 6px !important;
}

.remove-btn {
    background-color: #DADADA;
    color: white;
    outline: none;
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}

.remove-btn:focus {
    outline: none !important;
    border: none !important;
}

.width-10 {
    width: 10%;
}

.width-30 {
    width: 30%;
}

.width-45 {
    width: 45%;
}

.width-20 {
    width: 20%;
}

.width-5 {
    width: 5%;
}

.width-15 {
    width: 15%;
}

.width-60 {
    width: 60%;
}

.each-table-row {
    border-bottom: 1px solid #E3E3E3;
}

.chart-section {
    width: 100%;
    height: 500px;
    background-color: #F8F7FF;
    border-radius: 5px;
}

.each-stat {
    border-radius: 5px;
    background-color: #8568C6;
    padding: 1rem;
}

.notify-admin {
    background-color: #F8F7FF;
    padding: 3rem;
}

.customer-details-section {
    padding: 3rem !important;
}

.has-bottom-border {
    border-bottom: 1px solid #E3E3E3;
}

.cust-det {
    border: 1px solid #8568C6;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.ft-600 {
    font-weight: 600;
}

.trans-item {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.trans-ancor:hover {
    text-decoration: none !important;
    cursor: pointer;
}

.trans-item-p:hover {
    color: black;
    text-decoration: none !important;
}

.trans-item-p {
    color: black;
    text-decoration: none;
}

.show-hover {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
}
  
.balance-main:hover .show-hover {
    display: block;
}

.hover-btns {
    padding: 5px 20px 5px 20px;
    color: white;
    width: 200px;
    margin: 1px;
    background: none;
    border: 2px solid white;
    border-radius: 100px;
}

.hover-btns:focus {
    outline: none;
}

@media screen and (max-width: 767px) {
    *::-webkit-scrollbar {
        width: 0px !important;
    }

    .page-content {
        padding: 1rem !important;
    }

    .sidenav {
        margin-left: 0%;
        min-width: 15%;
        max-width: 15%;
        box-shadow: 0px 1px 10px rgba(27, 39, 51, 0.08);
        padding: 5px !important;
    }

    .collapse {
        display: flex !important;
        justify-content: end;
    }

    .logo {
        display: none;
    }

    .sidenav-menu-item:hover {
        background: none !important;
    }

    .navbar {
        padding: 0px 10px 0px 0px !important;
        width: 100%;
    }

    .sidenav-text {
        display: none;
    }

    .page {
        margin-left: 15%;
    }

    .top-pattern, .bottom-pattern {
        display: none;
    }

    .purple-card, .grey-card-2, .grey-card, .ad-card {
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
      
    .horizontal-scroll {
        display: block !important;
    }

    /* TABLE STYLE */

    table {
        padding: 0px !important;
    }
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid rgba(255, 255, 255, 0.1);; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
        text-align: left ;
        font-weight: 700;
	}

    .display-block-mobile {
        display: block !important;
    }
	
	/*
	Label the data
	*/
    .asset-item-1:nth-of-type(1):before { content: "Assets"; }
    .asset-item-2:nth-of-type(2):before { content: "Total"; }
	.asset-item-3:nth-of-type(3):before { content: "Rate"; }
	.asset-item-4:nth-of-type(4):before { content: "Send"; }
	.asset-item-5:nth-of-type(5):before { content: "Recieve"; }

	td:nth-of-type(1):before { content: "Transaction"; }
	td:nth-of-type(2):before { content: "Total"; }
	td:nth-of-type(3):before { content: "Amount"; }
	td:nth-of-type(4):before { content: "Status"; }
	td:nth-of-type(5):before { content: "Date"; }

    .live-trans-tran:nth-of-type(1):before { content: "Transaction ID"; }
	.live-trans-date:nth-of-type(2):before { content: "Date"; }
	.live-trans-name:nth-of-type(3):before { content: "Name"; }
	.live-trans-type:nth-of-type(4):before { content: "Type"; }
	.live-trans-amount:nth-of-type(5):before { content: "Amount"; }
	.live-trans-status:nth-of-type(6):before { content: "Status"; }

    .item-useremail:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
	.item-datecreated:nth-of-type(3):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed:nth-of-type(4):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status:nth-of-type(5):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode:nth-of-type(6):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action:nth-of-type(7):before { 
        content: "Action"; 
        color: black !important;
    }


    .item-useremail-5:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-amount-5:nth-of-type(2):before { 
        content: "Amount(Naira)";
        color: black !important;
    }
	.item-status-5:nth-of-type(3):before { 
        content: "Status";
        color: black !important;
    }
	.item-dateflag-5:nth-of-type(4):before { 
        content: "Date Flagged"; 
        color: black !important;
    }
	.item-flagger-5:nth-of-type(5):before { 
        content: "Flagging Agent";
        color: black !important;
     }
	.item-unflagger-5:nth-of-type(6):before { 
        content: "Unflagging Agent"; 
        color: black !important;
    }
	.item-date-unflag-5:nth-of-type(7):before { 
        content: "Date"; 
        color: black !important;
    }

    .item-date-action-5:nth-of-type(7):before { 
        content: "Action"; 
        color: black !important;
    }


    .item-useremail-2:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type-2:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
    .item-usernumber-2:nth-of-type(3):before { 
        content: "Crypto to USD";
        color: black !important;
    }
    .item-billamount-2:nth-of-type(4):before { 
        content: "Crtpto Amount";
        color: black !important;
    }
    .item-wallet-2:nth-of-type(5):before { 
        content: "Naira Amount";
        color: black !important;
    }
	.item-datecreated-2:nth-of-type(6):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed-2:nth-of-type(7):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status-2:nth-of-type(8):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode-2:nth-of-type(9):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action-2:nth-of-type(10):before { 
        content: "Action"; 
        color: black !important;
    }


    .item-useremail-4:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type-4:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
    .item-usernumber-4:nth-of-type(3):before { 
        content: "Account Number";
        color: black !important;
    }
    .item-sendername-4:nth-of-type(4):before { 
        content: "Account Name";
        color: black !important;
    }
    .item-bankname-4:nth-of-type(5):before { 
        content: "Bank Name";
        color: black !important;
    }
    .item-amount-4:nth-of-type(6):before { 
        content: " Amount";
        color: black !important;
    }
	.item-datecreated-4:nth-of-type(7):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed-4:nth-of-type(8):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status-4:nth-of-type(9):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode-4:nth-of-type(10):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action-4:nth-of-type(11):before { 
        content: "Action"; 
        color: black !important;
    }

    .item-useremail-3:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type-3:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
    .item-amount-3:nth-of-type(3):before { 
        content: "Amount";
        color: black !important;
    }
	.item-datecreated-3:nth-of-type(4):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed-3:nth-of-type(5):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status-3:nth-of-type(6):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode-3:nth-of-type(7):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action-3:nth-of-type(8):before { 
        content: "Action"; 
        color: black !important;
    }

    .item-useremail-1:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type-1:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
    .item-usernumber-1:nth-of-type(3):before { 
        content: "User Number";
        color: black !important;
    }
    .item-billamount-1:nth-of-type(4):before { 
        content: "Bill Payment";
        color: black !important;
    }
    .item-wallet-1:nth-of-type(5):before { 
        content: "Wallet";
        color: black !important;
    }
	.item-datecreated-1:nth-of-type(6):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed-1:nth-of-type(7):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status-1:nth-of-type(8):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode-1:nth-of-type(9):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action-1:nth-of-type(10):before { 
        content: "Action"; 
        color: black !important;
    }

    th { 
        padding: 6px; 
        border: 1px solid rgba(255, 255, 255, 0.1);; 
        text-align: left; 
    }

    td { 
        padding: 6px; 
        border: 1px solid rgba(255, 255, 255, 0.1);; 
        text-align: right !important; 
    }

    tr:nth-of-type(odd) { 
        background: #4612A3 !important; 
    }

    .sit-right {
        justify-content: end
    }

    .first-item {
        justify-content: end;
    }

    .first-item-txt {
        margin-left: 5px;
    }

    .row-div {
        padding-right: 0rem !important;
    }

    .left-section {
        padding-right: 0rem !important;
    }

    .right-parent {
        padding-right: 0rem !important;
    }
    /* TABLE STYLE ENDS */

    .ppl-cl {
        font-size: 18px;
    }

    .right-sect-inner {
        padding-left: 0px !important;
        margin-top: 10px;
    }

    .tops {
        display: block;
        position: static !important;
    }

    .date-section {
        position: static;
        margin-bottom: 20px !important;
    }

    .each-section-input {
        width: 100% !important;
    }

    .left-send {
        display: block !important;
    }

    .left-send-inner-2 {
        margin-left: 0px !important;
    }

    .each-refill-item {
        width: 100% !important;
        margin-top: 10px;
    }

    .flex-sect {
        display: block !important;
    }

    .amt-laptop-img {
        width: 250px;
        height: 250px;
    }

    .network {
        padding: 5px !important;
    }

    .contact-left {
        padding: 1rem !important;
    }

    .contact-img {
        height: 200px !important;
    }

    .contact-right {
        padding: 2rem !important;
        margin: 1rem 0rem 1rem 1rem !important;
    }

    .user-main-content {
        padding: 1rem !important;
    }

    .no-pl-4 {
        padding-left: 0px !important;
    }

    .nav-item-2 {
        width: 100% !important;
        margin-bottom: 10px;
        text-align: left;
    }

    .nav-item-3 {
        width: 100% !important;
        margin-bottom: 10px;
        text-align: left;
    }

    .check-bvn {
        margin-bottom: 20px;
    }

    .verify-col {
        margin-top: 0px;
    }

    .each-user-card{
        display: block !important;
    }

    .tag-img {
        width: 30px;
        height: 30px;
    }

    .admin-table-head {
        display: none;
    }

    .admin-table-head-line {
        display: none;
    }

    .customer-details-section {
        padding: 1rem !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    *::-webkit-scrollbar {
        width: 0px !important;
    }

    .page-content {
        padding: 1rem !important;
    }

    .card-value {
        font-size: 20px;
    }

    .sidenav-text {
        margin-right: 1rem !important;
        font-size: 14px !important;
    }

    /* TABLE STYLE */

    table {
        padding: 0px !important;
    }
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid rgba(255, 255, 255, 0.1);; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
        text-align: left ;
        font-weight: 700;
	}
	
	/*
	Label the data
	*/
    .asset-item-1:nth-of-type(1):before { content: "Assets"; }
    .asset-item-2:nth-of-type(2):before { content: "Total"; }
	.asset-item-3:nth-of-type(3):before { content: "Rate"; }
	.asset-item-4:nth-of-type(4):before { content: "Send"; }
	.asset-item-5:nth-of-type(5):before { content: "Recieve"; }

	td:nth-of-type(1):before { content: "Transaction"; }
	td:nth-of-type(2):before { content: "Total"; }
	td:nth-of-type(3):before { content: "Amount"; }
	td:nth-of-type(4):before { content: "Status"; }
	td:nth-of-type(5):before { content: "Date"; }

    .live-trans-tran:nth-of-type(1):before { content: "Transaction ID"; }
	.live-trans-date:nth-of-type(2):before { content: "Date"; }
	.live-trans-name:nth-of-type(3):before { content: "Name"; }
	.live-trans-type:nth-of-type(4):before { content: "Type"; }
	.live-trans-amount:nth-of-type(5):before { content: "Amount"; }
	.live-trans-status:nth-of-type(6):before { content: "Status"; }

    .item-useremail-1:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type-1:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
    .item-usernumber-1:nth-of-type(3):before { 
        content: "User Number";
        color: black !important;
    }
    .item-billamount-1:nth-of-type(4):before { 
        content: "Bill Payment";
        color: black !important;
    }
    .item-wallet-1:nth-of-type(5):before { 
        content: "Wallet";
        color: black !important;
    }
	.item-datecreated-1:nth-of-type(6):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed-1:nth-of-type(7):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status-1:nth-of-type(8):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode-1:nth-of-type(9):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action-1:nth-of-type(10):before { 
        content: "Action"; 
        color: black !important;
    }

    .item-useremail:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
	.item-datecreated:nth-of-type(3):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed:nth-of-type(4):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status:nth-of-type(5):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode:nth-of-type(6):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action:nth-of-type(7):before { 
        content: "Action"; 
        color: black !important;
    }

    .item-useremail-2:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type-2:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
    .item-usernumber-2:nth-of-type(3):before { 
        content: "Crypto to USD";
        color: black !important;
    }
    .item-billamount-2:nth-of-type(4):before { 
        content: "Crtpto Amount";
        color: black !important;
    }
    .item-wallet-2:nth-of-type(5):before { 
        content: "Naira Amount";
        color: black !important;
    }
	.item-datecreated-2:nth-of-type(6):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed-2:nth-of-type(7):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status-2:nth-of-type(8):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode-2:nth-of-type(9):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action-2:nth-of-type(10):before { 
        content: "Action"; 
        color: black !important;
    }

    .item-useremail-4:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type-4:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
    .item-usernumber-4:nth-of-type(3):before { 
        content: "Account Number";
        color: black !important;
    }
    .item-sendername-4:nth-of-type(4):before { 
        content: "Account Name";
        color: black !important;
    }
    .item-bankname-4:nth-of-type(5):before { 
        content: "Bank Name";
        color: black !important;
    }
    .item-amount-4:nth-of-type(6):before { 
        content: " Amount";
        color: black !important;
    }
	.item-datecreated-4:nth-of-type(7):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed-4:nth-of-type(8):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status-4:nth-of-type(9):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode-4:nth-of-type(10):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action-4:nth-of-type(11):before { 
        content: "Action"; 
        color: black !important;
    }


    .item-useremail-5:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-amount-5:nth-of-type(2):before { 
        content: "Amount(Naira)";
        color: black !important;
    }
	.item-status-5:nth-of-type(3):before { 
        content: "Status";
        color: black !important;
    }
	.item-dateflag-5:nth-of-type(4):before { 
        content: "Date Flagged"; 
        color: black !important;
    }
	.item-flagger-5:nth-of-type(5):before { 
        content: "Flagging Agent";
        color: black !important;
     }
	.item-unflagger-5:nth-of-type(6):before { 
        content: "Unflagging Agent"; 
        color: black !important;
    }
	.item-date-unflag-5:nth-of-type(7):before { 
        content: "Date"; 
        color: black !important;
    }

    .item-date-action-5:nth-of-type(7):before { 
        content: "Action"; 
        color: black !important;
    }


    .item-useremail-3:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type-3:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
    .item-amount-3:nth-of-type(3):before { 
        content: "Amount";
        color: black !important;
    }
	.item-datecreated-3:nth-of-type(4):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed-3:nth-of-type(5):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status-3:nth-of-type(6):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode-3:nth-of-type(7):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action-3:nth-of-type(8):before { 
        content: "Action"; 
        color: black !important;
    }
    

    th { 
        padding: 6px; 
        border: 1px solid rgba(255, 255, 255, 0.1);; 
        text-align: left; 
    }

    td { 
        padding: 6px; 
        border: 1px solid rgba(255, 255, 255, 0.1);; 
        text-align: right !important; 
    }

    tr:nth-of-type(odd) { 
        background: #4612A3 !important; 
    }

    .sit-right {
        justify-content: end
    }

    .first-item {
        justify-content: end;
    }

    .first-item-txt {
        margin-left: 5px;
    }

    .row-div {
        padding-right: 0rem !important;
    }
    /* TABLE STYLE ENDS */

    .display-flex {
        display: block !important;
    }

    .det-img {
        width: 70px !important;
    }

    .tops {
        display: block;
        position: static !important;
    }

    .date-section {
        position: static;
        margin-bottom: 20px !important;
    }

    .each-refill-item {
        width: 100% !important;
        margin-top: 10px;
    }

    .flex-sect {
        display: block !important;
    }

    .amt-laptop-img {
        width: 250px;
        height: 250px;
    }

    .network {
        padding: 5px !important;
    }

    .contact-img {
        height: 200px !important;
    }

    .display-flex-tabs {
        display: flex !important;
    }
    
    .admin-table-head {
        display: none !important;
    }

    .admin-table-head-line {
        display: none !important;
    }

    .admin-table-head-line-2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .customer-details-section {
        padding: 1rem !important;
    }
    
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
    *::-webkit-scrollbar {
        width: 0px !important;
    }

    .page-content {
        padding: 1rem !important;
    }

    .card-value {
        font-size: 20px;
    }

    .sidenav-text {
        margin-right: 1rem !important;
        font-size: 14px !important;
    }

    /* TABLE STYLE */

    table {
        padding: 0px !important;
    }
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid rgba(255, 255, 255, 0.1);; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
        text-align: left ;
        font-weight: 700;
	}
	
	/*
	Label the data
	*/
    .asset-item-1:nth-of-type(1):before { content: "Assets"; }
    .asset-item-2:nth-of-type(2):before { content: "Total"; }
	.asset-item-3:nth-of-type(3):before { content: "Rate"; }
	.asset-item-4:nth-of-type(4):before { content: "Send"; }
	.asset-item-5:nth-of-type(5):before { content: "Recieve"; }

	td:nth-of-type(1):before { content: "Transaction"; }
	td:nth-of-type(2):before { content: "Total"; }
	td:nth-of-type(3):before { content: "Amount"; }
	td:nth-of-type(4):before { content: "Status"; }
	td:nth-of-type(5):before { content: "Date"; }

    .live-trans-tran:nth-of-type(1):before { content: "Transaction ID"; }
	.live-trans-date:nth-of-type(2):before { content: "Date"; }
	.live-trans-name:nth-of-type(3):before { content: "Name"; }
	.live-trans-type:nth-of-type(4):before { content: "Type"; }
	.live-trans-amount:nth-of-type(5):before { content: "Amount"; }
	.live-trans-status:nth-of-type(6):before { content: "Status"; }

    .item-useremail-1:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type-1:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
    .item-usernumber-1:nth-of-type(3):before { 
        content: "User Number";
        color: black !important;
    }
    .item-billamount-1:nth-of-type(4):before { 
        content: "Bill Payment";
        color: black !important;
    }
    .item-wallet-1:nth-of-type(5):before { 
        content: "Wallet";
        color: black !important;
    }
	.item-datecreated-1:nth-of-type(6):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed-1:nth-of-type(7):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status-1:nth-of-type(8):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode-1:nth-of-type(9):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action-1:nth-of-type(10):before { 
        content: "Action"; 
        color: black !important;
    }


    .item-useremail-3:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type-3:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
    .item-amount-3:nth-of-type(3):before { 
        content: "Amount";
        color: black !important;
    }
	.item-datecreated-3:nth-of-type(4):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed-3:nth-of-type(5):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status-3:nth-of-type(6):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode-3:nth-of-type(7):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action-3:nth-of-type(8):before { 
        content: "Action"; 
        color: black !important;
    }


    .item-useremail-5:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-amount-5:nth-of-type(2):before { 
        content: "Amount(Naira)";
        color: black !important;
    }
	.item-status-5:nth-of-type(3):before { 
        content: "Status";
        color: black !important;
    }
	.item-dateflag-5:nth-of-type(4):before { 
        content: "Date Flagged"; 
        color: black !important;
    }
	.item-flagger-5:nth-of-type(5):before { 
        content: "Flagging Agent";
        color: black !important;
     }
	.item-unflagger-5:nth-of-type(6):before { 
        content: "Unflagging Agent"; 
        color: black !important;
    }
	.item-date-unflag-5:nth-of-type(7):before { 
        content: "Date"; 
        color: black !important;
    }
    .item-date-action-5:nth-of-type(8):before { 
        content: "Action"; 
        color: black !important;
    }


    .item-useremail:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
	.item-datecreated:nth-of-type(3):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed:nth-of-type(4):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status:nth-of-type(5):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode:nth-of-type(6):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action:nth-of-type(7):before { 
        content: "Action"; 
        color: black !important;
    }

    .item-useremail-2:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type-2:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
    .item-usernumber-2:nth-of-type(3):before { 
        content: "Crypto to USD";
        color: black !important;
    }
    .item-billamount-2:nth-of-type(4):before { 
        content: "Crtpto Amount";
        color: black !important;
    }
    .item-wallet-2:nth-of-type(5):before { 
        content: "Naira Amount";
        color: black !important;
    }
	.item-datecreated-2:nth-of-type(6):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed-2:nth-of-type(7):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status-2:nth-of-type(8):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode-2:nth-of-type(9):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action-2:nth-of-type(10):before { 
        content: "Action"; 
        color: black !important;
    }


    .item-useremail-4:nth-of-type(1):before { 
        content: "User Email";
        color: black !important;
    }
	.item-type-4:nth-of-type(2):before { 
        content: "Type";
        color: black !important;
    }
    .item-usernumber-4:nth-of-type(3):before { 
        content: "Account Number";
        color: black !important;
    }
    .item-sendername-4:nth-of-type(4):before { 
        content: "Account Name";
        color: black !important;
    }
    .item-bankname-4:nth-of-type(5):before { 
        content: "Bank Name";
        color: black !important;
    }
    .item-amount-4:nth-of-type(6):before { 
        content: " Amount";
        color: black !important;
    }
	.item-datecreated-4:nth-of-type(7):before { 
        content: "Date Created";
        color: black !important;
    }
	.item-dateconfirmed-4:nth-of-type(8):before { 
        content: "Date Confirmed"; 
        color: black !important;
    }
	.item-status-4:nth-of-type(9):before { 
        content: "Status";
        color: black !important;
     }
	.item-refcode-4:nth-of-type(10):before { 
        content: "Ref Code"; 
        color: black !important;
    }
	.item-action-4:nth-of-type(11):before { 
        content: "Action"; 
        color: black !important;
    }

    th { 
        padding: 6px; 
        border: 1px solid rgba(255, 255, 255, 0.1);; 
        text-align: left; 
    }

    td { 
        padding: 6px; 
        border: 1px solid rgba(255, 255, 255, 0.1);; 
        text-align: right !important; 
    }

    tr:nth-of-type(odd) { 
        background: #4612A3 !important; 
    }

    .sit-right {
        justify-content: end
    }

    .first-item {
        justify-content: end;
    }

    .first-item-txt {
        margin-left: 5px;
    }

    .row-div {
        padding-right: 0rem !important;
    }
    /* TABLE STYLE ENDS */

    .display-flex {
        display: block !important;
    }

    .det-img {
        width: 70px !important;
    }

    .tops {
        display: block;
        position: static !important;
    }

    .date-section {
        position: static;
        margin-bottom: 20px !important;
    }

    .each-refill-item {
        width: 100% !important;
        margin-top: 10px;
    }

    .flex-sect {
        display: block !important;
    }

    .amt-laptop-img {
        width: 250px;
        height: 250px;
    }

    .network {
        padding: 5px !important;
    }

    .contact-img {
        height: 200px !important;
    }

    .display-flex-tabs {
        display: flex;
    }
    
}